<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>C953D111-9CFC-4992-A003-7296DAA531DE</key>
		<dict>
			<key>BinderUUID</key>
			<string>C953D111-9CFC-4992-A003-7296DAA531DE</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>535 312 475 528 0 0 1512 944 </string>
		</dict>
	</dict>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {308, 883}}</string>
		<string>{{309, 0}, {1170, 883}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>00D43186-B5AB-4A71-99B0-577C025C09CC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0271D82B-3E3D-428B-AB34-9F889B383BEE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>07161647-3B22-465E-86F7-847D12FC9E5A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>10BB48CE-4589-4CB1-8C75-CC9F312A3977</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>12456F90-CC70-41FF-8031-DBBE21DFA16D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1554186B-E9C1-4AA7-9177-066ECE862D69</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>17626E58-0D87-4417-971A-55A94C68396B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1A0D25E9-87D8-4AA1-BA2D-224C06BDBD0E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1A1AE5A3-9249-4461-B717-B4B527264BCC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1A8DA9C5-A10A-4B56-9E0A-37E5B17B1EF6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1E8687D4-689B-4E62-8099-812303B4309E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1EE4FC27-C1AD-47CA-A148-0E55362FC578</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>25EB0918-6C76-421D-AEBB-A6A092703973</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2A57CB37-F594-4737-A017-2B852E325DE6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>312FBE3C-ABF4-46E2-9E5E-CDD5A8F7E443</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3185EDF1-C0E7-472A-9072-78F2B6E28BC5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>32FA3073-B497-4D6C-875D-7305575A87F7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3A3B790A-5FE2-497B-BBB8-1C0DBF57CBCE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>43D4FBB2-4563-4ACF-9582-4975E8FB14B6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>459F73FF-CA5C-425C-848A-1C1D1D6FE286</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>474EB5D4-5C3D-408A-9D86-E4A28D0C2170</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>47812109-F839-4431-9687-667AE10F40A7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>541D7B1E-641B-4AAF-8E19-62D28A0C2B10</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>58D77F7A-DC1F-42A7-BABA-06C6FD37E62B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>59AC6BDE-58E3-42CF-B553-CC8311A5EE86</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5A1F4587-6F29-46CE-B394-BE14553B62EA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5AC41C7F-13BE-4D69-9F80-6A212DF0DABA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5ACAE7DD-317B-409A-83F1-6C37E3598FCB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5F377FB4-3E3E-4BBD-8224-291A26976DDB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>60AFD866-728C-4194-929D-B41DBCBB12F3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>662A64A9-F7D3-4ED0-AD0B-9F7CE410B2ED</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>66EFAA04-31F7-4785-83A1-4420463E4890</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>68C44B5F-7ABF-4F7D-9EC5-0C56CA00056F</key>
		<dict>
			<key>DocID</key>
			<string>68C44B5F-7ABF-4F7D-9EC5-0C56CA00056F</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>697E3268-7A48-4049-A84C-1060D6AEE13A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6A36BA06-39CB-4A64-B295-8A66A5B1F996</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6AC87B3E-1640-4AFD-8FA6-DEDCD28AC8A1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6BCF43E0-AC03-495C-BC2E-BD85735FDC33</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6E5EBAD4-79CF-452D-B4D8-F42948591133</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6F0AE9AD-E82D-4BFB-BE2A-19132F99B94C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6F94DBBB-4EC9-4AF7-BF6E-BE0AED52E99C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>708AFEBC-6F8D-4A90-8609-DC4C005BE227</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>726196DC-784A-4955-803D-52E4ED61D226</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>72CEF6CB-E554-4A76-BEC4-265969DD9BEA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>76118B13-9ACC-4418-88D8-29502FD1F9AE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>779ADD70-5D7D-4E2E-BB77-093D3B3E3D6F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>814D6FDE-ED68-4AC7-A6BD-21C28D3BF50C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8217F1E4-A17D-4DEC-8FD5-A58E31EFE20F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>82501535-FA9A-47DB-8990-B06B429B0AB5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>833F8906-70CC-4B76-9119-FCB337C45EFB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>875D3FEE-7E16-4952-B015-06BD8FECAED9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>90D3DA55-839B-4FDC-B12C-B69844C2DA55</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>94D9B24D-43FA-423A-A827-1B8AC222DDCF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>963EC089-E918-41C5-B242-FB8EF6F55A62</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>984308F9-26A7-4C2D-9207-A348C6874653</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>99569ADC-9BF5-43C9-8044-3F6F678C6AA5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9EBBF6DE-196F-402E-AAEC-E3D06190196F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A094FC80-2C83-4761-93D7-7C37AF15D98A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A16401F8-E409-43DC-8580-83245B14ED27</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A24EACFA-FC7A-4D52-A120-FEB799D850AC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A343B22A-4DA5-4599-8C6B-88CC6EF927A5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AC7301F3-33C8-43D6-91AF-D025FB082069</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ADD8611C-8010-4076-9B64-FC5FAA736497</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AEBCFDDA-DBE8-45F4-B8D7-3B4767517D0C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AFDB1934-9E9B-4C3A-8A60-BEAA70B5616A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B0D0B75A-22C5-4D75-B603-92AAFEF4ABA8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B3B7236D-C2AE-4C71-8EE4-A7DA0B727528</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B47BE1D3-32FD-45D8-8D67-D1436CFF702E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B6A77660-3170-4179-BE72-2D83B431B36C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B9446CA3-A0D6-40A4-8955-7FAB1236A137</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BC764ADE-DA28-4F66-A35B-3781190CF699</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BCE92C60-5291-4626-A2A4-697D1733C981</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BFCF8A7A-3D35-46DA-A462-4F1A4FA4BCB6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C187A35E-0E1A-4BFB-AC84-CE22A4573DDF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C953D111-9CFC-4992-A003-7296DAA531DE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D1233593-B3AA-48CB-8924-799920912358</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D2E36D59-42DF-4BF7-8D06-BB4D5CBEBEAB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D4B3C05C-041D-4FA3-A6F3-0BECE0F3562E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D607E42A-9459-4DA2-94C5-C5F3B415628F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D6A75725-BDA7-4559-842A-0C708D0B0138</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D8024560-72C8-4298-B953-9FE4A1047D6C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D80AC75D-6B7A-49EA-AB3A-3C56BA1F4E70</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DCA6F78F-8C74-45DE-8C6A-5028037D4C3B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DEC11D41-C6B0-412C-8E9B-16AC2F4E22CE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DF21BF72-52FB-42ED-9622-C424DB71FEFE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E292043C-770D-40DC-BF3C-B822B3323D83</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E2E182BB-5855-44AF-B82E-1085C234A9CA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E3917A59-EE63-4DAB-8F13-8BDA62D76A16</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E98FC144-2F17-4F62-A646-CB878D3F180C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EA456216-C452-4BB6-BF74-37347D2F95B3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ECF6EC02-AB9E-47FD-A42F-8FEAAF49E258</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ED82BAF4-96BB-477A-8DD2-CE7D9D83AEE9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F00FC367-D592-4E9B-99C0-A8C2CDDEAD8A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F10F64F5-FD29-4706-9D30-BBE6C0C1B8D1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FBA8E11F-41E2-4BE9-BFC5-A6896FA55ACC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{607, 0}, {606, 853}}</string>
	</array>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {295, 873}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 1518}, {612, 797}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>33 33 1479 911 0 0 1512 944 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
